.logo {
  margin-top: 30vh;

  h1 {
    text-align: center;
    text-shadow: 0 0.35rem 0 $color-shadow;
  }

  &-wrap {
    padding: 0 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-image {
    width: $font-size-4;
    filter: drop-shadow(0 1.5rem 0 $color-shadow);
    opacity: 0.75;
  }
}
