{% include "./src/templates/partials/_head.html" %}
<div class="container">
  <div class="logo">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5 logo-wrap">
        <img src="assets/images/meat.svg" alt="Meatier" class="logo-image">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1>Meatier</h1>
        <p class="text-center">Static site starter project.</p>
        <p class="text-center">
          <a href="https://github.com/zachalbert/meatier">Github</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include "./src/templates/partials/_footer.html" %}
