<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Meatier</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <link href="//ajax.googleapis.com" rel="dns-prefetch">

  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:200,400,700,200italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="assets/css/style.min.css" rel="stylesheet">

  <script src="https://use.typekit.net/rxk6czv.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body class="baseline-grid-off">
