.strip {
  &-top {
    margin-top: 0;
  }
  &-bottom {
    margin-bottom: 0;
  }
}

.shim {
  &-top {
    &-half {
      margin-top: $lead-half;
    }
    &-single {
      margin-top: $lead-single;
    }
    &-double {
      margin-top: $lead-double;
    }
    &-triple {
      margin-top: $lead-triple;
    }
    &-quadruple {
      margin-top: $lead-quadruple;
    }
    &-quintuple {
      margin-top: $lead-quintuple;
    }
  }
}
